# git+https://github.com/decypher-ai/checklist@e6ffe5e148585d0bd377a590d3d46aa58978d83c

allennlp @ file://localhost/F:/github_desktop/NL-Augmenter/dist/allennlp-2.10.1-py3-none-any.whl


spacy
numpy
nltk>=3.6.2

# for back_translation
torch
torchtext
# for ReplaceNumericalValues
num2words
word2number

# for test cases and coverage
pytest
pytest-cov

# for evaluation
datasets
transformers
sacrebleu
seqeval

# for utility
tqdm

# Google colab 2nd example
sentencepiece

# for code format
black
pre-commit


flake8
isort

setuptools